RoboInvestor/internals/seed/mock_stocks_list.json
/TODO
devlog.md
db_comments.md
#backend ignores
backend/.env
backend/bin/
backend/*.log

#frontend ignores
frontend/.env
frontend/node_modules/
frontend/dist/
frontend/.DS_Store
frontend/.next/

data/
bin/
tmp/
